#calendar {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
  }
  #calendar thead tr:last-child {
    font-size: small;
    color: rgb(201, 196, 196);
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(201, 196, 196);
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td {
    color: rgb(201, 196, 196);
  }
  #calendar tbody td:nth-child(n+6), #calendar .holiday {
    color: rgb(231, 140, 92);
  }
  #calendar tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
  }